*{
    font-family: serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    border: 0;
    outline: 0;
}

/*Estilo do Header*/

.header-content {
    background: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}

.header-content .menu span {
    margin-right: 40px;
}

span.home {
    color: #87E22D;
}




/*Estilo da capa*/

.title-container {
    max-width: 100%;
    height: 600px;
    margin-bottom: 78px;
    background: #F2F2F2 url('./images/capa.png') no-repeat;
    background-size: cover;
}
.title-content {
    margin: auto 32px;
    padding-top: 400px;
    color: #FFFFFF;
}

.title-content h1 {
    font-size: 40px;
    font-weight: bold;
}

.title-content span {
    margin-right: 24px;
}

.title-content strong {
    color: #666666;
    font-weight: bold;
}




/*Estilo dos posts*/
.site-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.site-container .posts-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FFFFFF;

    margin: auto 32px;
}

.posts-content div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 32px;
 }

 .posts-content div span {
    color: #C9A96E;
    margin-top: 15px;
    margin-bottom: 4px;
 }

 .posts-content .post-feet{
    display: flex;
    flex-direction: row;
 }

 .posts-content .post-feet span {
    margin-right: 24px;
    color: #666666;
 }


 /*Estilização barra lateral*/

 .filters {
    margin-right: 32px;;
 }
 
 .filters h2 {
    box-sizing: border-box;
    border: 1px solid #E5E5E5;
    padding: 16px;
    
    text-align: center;
    font-size: 16px;
    color: #171717;     
 }

 .category-content {
    display: flex;
    flex-direction: column;

    margin-top: 24px;
    color: #666666;
 }

 .category-content div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
 }

.tags-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 32px;

    color: #666666;     
 }

 .tags-content span {
    margin-top: 24px;
    padding: 8px;
    text-align: center;
    background: #F8F9FA;
    
}

